.history-table table.table{
    width: 380px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 100;
    border-collapse: collapse;
}

.history-table table.table tr td {
    padding: 9px 6px;
}

td.out {
    width: 165px;
    text-align: left;
}

td.back {
    width: 165px;
    text-align: right;
}

td.days {
    width: 100px;
    text-align: center;
}

td.action {
    width: 80px;
}

td.action div {
    margin: 0 auto;
}

td.action div:hover {
    cursor: pointer;
}

div.delete {
    background: url("../../img/remove.png") no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.history-table table.table tbody tr.double:nth-child(odd) {
    background: #f2f2f2;
}