.history-table table.table{
    width: 380px;
    margin: 0px auto;
    font-size: 16px;
    font-weight: 100;
    border-collapse: collapse;
}

.history-table table.table tr td {
    padding: 9px 6px;
}


th.out {
    width: 135px;
    text-align: center;
}

th.back {
    width: 135px;
    text-align: center;
}

th.days {
    width: 50px;
    text-align: center;
}

th.account {
    width: 60px;
    text-align: center;
}

.history-table table.table tbody tr:nth-child(odd) {
    background: #f2f2f2;
}